<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta content="width=device-width,initial-scale=1" name="viewport">
  <meta content="description" name="description">
  <meta name="google" content="notranslate" />
  <meta content="Mashup templates have been developped by Orson.io team" name="author">

  <!-- Disable tap highlight on IE -->
  <meta name="msapplication-tap-highlight" content="no">
  
  <link rel="apple-touch-icon" sizes="180x180" href="./static/assets/apple-icon-180x180.png">
  <link href="./static/assets/favicon.ico" rel="icon">

  <title>Tech</title>

<link href="./static/main.3f6952e4.css" rel="stylesheet"></head>

<body class="">
<div id="site-border-left"></div>
<div id="site-border-right"></div>
<div id="site-border-top"></div>
<div id="site-border-bottom"></div>
<!-- Add your content of header -->
<header>
  <nav class="navbar  navbar-fixed-top navbar-default">
    <div class="container">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

      <div class="collapse navbar-collapse" id="navbar-collapse">
        <ul class="nav navbar-nav ">
          <li><a href="./index.html" title="">01 : Home</a></li>
          <li><a href="./works.html" title="">02 : Article & News</a></li>
          <li><a href="./about.html" title="">03 : About me</a></li>
          <li><a href="./contact.html" title="">04 : Contact</a></li>

        </ul>


          <ul class="nav navbar-nav navbar-right navbar-small visible-md visible-lg">
            <li><a href="./work.html" title="" class="active">001</a></li>
            <li><a href="./smartphone.html" title="" class="active">002</a></li>
            <li><a href="./exp.html" title="" class="active">003</a></li>
            <li><a href="./project.html" title="" class="active">004</a></li>

          </ul>


      </div> 
    </div>
  </nav>
</header>
<div class="section-container">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <img src="./static/assets/images/electro.jpg" class="img-responsive" alt="">
        <div class="card-container">
          <div class="text-center">
            <h1 class="h1">001 : Latest Tech</h1>
          </div>
          <p></p>

          <blockquote>
            <p>"Innovative Technology that will change modern world 2020"</p>
            <small class="pull-right">Shobhit Dimri</small>
          </blockquote>
          <p>Technology has always been the part of revolution in any Era Be it the Early times when men discovered Wheel
          which mechanically revolutionised the world or be it the innovation of vechile that eased human transportation
          and change the way we live technology have always been evolving its dynamic keep on changing and have always been
          serving for human purpose here are some modern technology in 2020 that will change the concept of world we are
          living in 2020!:</p>
            <div class="text-center">
             <h1 class="h3"> 5G technology</h1>
            </blockquote>
              <p>: 5G is the 5th generation mobile network. It is a new global wireless standard after 1G, 2G, 3G, and 4G networks. 5G enables a new kind of network that is designed to connect virtually everyone and everything together including machines, objects, and devices.

5G wireless technology is meant to deliver higher multi-Gbps peak data speeds, ultra low latency, more reliability, massive network capacity, increased availability, and a more uniform user experience to more users. Higher performance and improved efficiency empower new user experiences and connects new industries.</p>
          </div>
        </div>
      </div>

      
      
      <div class="col-md-8 col-md-offset-2 section-container-spacer">
        <div class="row">
          <div class="col-xs-12 col-md-6">
            <img src="./static/assets/images/5g.jpg" class="img-responsive" alt="">
            <p>5g connectivity</p>
          </div>
          <div class="col-xs-12 col-md-6">
            <img src="./static/assets/images/p.jpg" class="img-responsive" alt="">
            <p>5G</p>
          </div>
        </div>
      </div>

          </div>
        </blockquote>
           <div class="text-center">
             <h1 class="h3">AI Technology</h1>
             <p>Artificial intelligence (AI) is wide-ranging branch of computer science concerned with building smart machines capable of performing tasks that typically require human intelligence. AI is an interdisciplinary science with multiple approaches, but advancements in machine learning and deep learning are creating a paradigm shift in virtually every sector of the tech industry. </p>
            <p>AI is a computer system able to perform tasks that ordinarily require human intelligence... Many of these artificial intelligence systems are powered by machine learning, some of them are powered by deep learning and some of them are powered by very boring things like rules.</p>
             <p>Artificial intelligence generally falls under two broad categories:

Narrow AI: Sometimes referred to as "Weak AI," this kind of artificial intelligence operates within a limited context and is a simulation of human intelligence. Narrow AI is often focused on performing a single task extremely well and while these machines may seem intelligent, they are operating under far more constraints and limitations than even the most basic human intelligence.

Artificial General Intelligence (AGI): AGI, sometimes referred to as "Strong AI," is the kind of artificial intelligence we see in the movies, like the robots from Westworld or Data from Star Trek: The Next Generation. AGI is a machine with general intelligence and, much like a human being, it can apply that intelligence to solve any problem.
ARTIFICIAL INTELLIGENCE EXAMPLES
Smart assistants (like Siri and Alexa)
Disease mapping and prediction tools
Manufacturing and drone robots
Optimized, personalized healthcare treatment recommendations
Conversational bots for marketing and customer service
Robo-advisors for stock trading
Spam filters on email
Social media monitoring tools for dangerous content or false news
Song or TV show recommendations from Spotify and Netflix</p>
             </blockquote>
          </div>
  <div class="col-md-8 col-md-offset-2 section-container-spacer">
        <div class="row">
          <div class="col-xs-12 col-md-6">
            <img src="./static/assets/images/ai.jpg" class="img-responsive" alt="">
            <p>AI</p>
          </div>
          <div class="col-xs-12 col-md-6">
            <img src="./static/assets/images/nuer.jpg" class="img-responsive" alt="">
            <p>Connecting to AI</p>
          </div>
        </div>
      </div>

          </div>
         </blockquote>
            <div class="text-center">
              <h1 class="h3">The Internet of Things (IoT)</h1>
              <p>The Internet of Things is an emerging topic of technical, social, and economic significance. Consumer products, durable goods, cars and trucks, industrial and utility components, sensors, and other everyday objects are being combined with Internet connectivity and powerful data analytic capabilities that promise to transform the way we work, live, and play. Projections for the impact of IoT on the Internet and economy are impressive, with some anticipating as many as 100 billion connected IoT devices and a global economic impact of more than $11 trillion by 2025.</p>
               <p>At the same time, however, the Internet of Things raises significant challenges that could stand in the way of realizing its potential benefits. Attention-grabbing headlines about the hacking of Internet-connected devices, surveillance concerns, and privacy fears already have captured public attention. Technical challenges remain and new policy, legal and development challenges are emerging.</p>
             <p>IoT Definitions: The term Internet of Things generally refers to scenarios where network connectivity and computing capability extends to objects, sensors and everyday items not normally considered computers, allowing these devices to generate, exchange and consume data with minimal human intervention. There is, however, no single, universal definition</p>
              <p>Enabling Technologies: The concept of combining computers, sensors, and networks to monitor and control devices has existed for decades. The recent confluence of several technology market trends, however, is bringing the Internet of Things closer to widespread reality. These include Ubiquitous Connectivity, Widespread Adoption of IP-based Networking, Computing Economics, Miniaturization, Advances in Data Analytics, and the Rise of Cloud Computing.</p>
              </blockquote>
           </div>
           </div>
<div class="col-md-8 col-md-offset-2 section-container-spacer">
        <div class="row">
          <div class="col-xs-6 col-md-6">
            <img src="./static/assets/images/io.jpg" class="img-responsive" alt="">
            <p>iot connection</p>
            </div>
          </div>

        </blockquote>
  </div>
      </div>
<footer class="footer-container text-center">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <p>© Newsfeed | Website created by Shobhit Dimri<a href="http://www.mashup-template.com/" title="Create website with free html template"> </a><a href="https://www.unsplash.com/" title="Beautiful Free Images"></a></p>
      </div>
    </div>
  </div>
</footer>

<script>
  document.addEventListener("DOMContentLoaded", function (event) {
     navActivePage();
  });
</script>

<!-- Google Analytics: change UA-XXXXX-X to be your site's ID 

<script>
  (function (i, s, o, g, r, a, m) {
    i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
      (i[r].q = i[r].q || []).push(arguments)
    }, i[r].l = 1 * new Date(); a = s.createElement(o),
      m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
  })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
  ga('create', 'UA-XXXXX-X', 'auto');
  ga('send', 'pageview');
</script>

--> <script type="text/javascript" src="./static/main.70a66962.js"></script></body>

</html>